* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Yu Gothic UI';
    background-color: #f7f7f7;
}

header {
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
}

.carousel-item {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
}

    .carousel-item:nth-child(1) {
        background-image: url("/images/imre-tomosvari-FbhuN53_330-unsplash.jpg");
    }

    .carousel-item:nth-child(2) {
        background-image: url("/images/jael-vallee-8WPisO0NZmg-unsplash.jpg");
    }

    .carousel-item:nth-child(3) {
        background-image: url("/images/matt-palmer-sDpdeFxq_wQ-unsplash.jpg");
    }

.course-title {
    margin-top: 50px;
    padding-bottom: 100px;
}

    .course-title h3 {
        position: relative;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
        font-size: 28px;
    }

        .course-title h3:after, .course-title h3:before {
            position: absolute;
            margin: 0 auto;
            width: 80px;
            content: "";
            border-radius: 3px;
        }

        .course-title h3:before {
            top: 100%;
            left: 0;
            right: 20px;
            height: 2px;
            background-color: #eb7f1c;
        }

        .course-title h3:after {
            top: 110%;
            left: 20px;
            right: 0;
            height: 0;
            border-bottom: 2px solid #002b46;
        }

.course-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.course-item {
    margin: 0 10px 20px;
    width: calc(100% / 3 - 20px);
    min-height: 350px;
}

.card {
    width: 100%;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.introduce {
    background-color: #000c13;
}

.introduce-desc {
    color: #fff;
}

.objective-title {
    margin-top: 50px;
    padding-bottom: 100px;
}

    .objective-title h3 {
        position: relative;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
        font-size: 28px;
    }

        .objective-title h3:after, .objective-title h3:before {
            position: absolute;
            margin: 0 auto;
            width: 80px;
            content: "";
            border-radius: 3px;
        }

        .objective-title h3:before {
            top: 100%;
            left: 0;
            right: 20px;
            height: 2px;
            background-color: #eb7f1c;
        }

        .objective-title h3:after {
            top: 110%;
            left: 20px;
            right: 0;
            height: 0;
            border-bottom: 2px solid #002b46;
        }

.objective-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.objective-item {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eeeeee;
    text-align: center;
}

.objective-detail {
    padding: 0 30px;
}

.objective-icon {
    margin-bottom: 20px;
}

    .objective-icon i {
        color: #1565c0;
        font-size: 50px;
    }

.objective-detail h3 {
    margin-bottom: 20px;
}

.objective-detail p {
    margin: 0;
}

.footer-wrapper {
    background-color: #000c13;
}

.footer-logo a {
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #f7f7f7;
}

.footer-text {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.footer-info {
    min-height: 45px;
}

.footer-icon {
    font-size: 20px;
}

.footer-detail {
    font-size: 15px;
}

.copyright {
    color: #000;
    font-size: 20px;
    /*font-style: italic;*/
}

.banner-container {
    background-color: #000c13;
    color: #fff;
}

.banner-link {
    text-decoration: unset;
    font-size: 18px;
    color: #fff;
    transition: linear .2s;
}

    .banner-link:hover {
        color: #eb7f1c;
        text-decoration: unset;
    }

.banner-left {
    /*font-family:'Cascadia Code';*/
}

.banner-right span {
    color: #eb7f1c;
}

.course-image {
    background-image: url("/images/imre-tomosvari-FbhuN53_330-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.contact-thumb {
    background-image: url("/images/imre-tomosvari-FbhuN53_330-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.contact-container {
    flex-wrap: wrap;
    row-gap: 20px;
}

.contact-item {
    width: 50%;
    border: 1px solid #000;
}

.contact-info {
    padding: 0;
}

.contact-label {
    color: grey;
}

.footer-logo a {
    box-shadow: none;
}
