<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Symphony</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Symphony.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @Html.Partial("Header") <!-- Header -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Symphony - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/admin-lte/plugins/jquery/jquery.min.js"></script> <!-- jQuery for AdminLTE -->
    <script src="~/lib/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap 4 for AdminLTE -->
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script> <!-- DataTables for AdminLTE -->
    <script src="~/lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script> <!-- DataTables Bootstrap for AdminLTE -->
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script> <!-- AdminLTE js -->
    @*<script src="~/lib/admin-lte/js/demo.min.js"></script> <!-- AdminLTE for demo purposes -->*@
    <script src="~/lib/toastr.js/toastr.min.js"></script> <!-- Toastr js-->


    <script src="~/js/admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
