@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mt-auto">
    <div class="footer-wrapper p-5">
        <div class="container-fluid">
            <div class="text-light row">
                <div class="footer-item col-4">
                    <div class="footer-logo mb-5">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo/Symphony.png" width="150" alt="" />
                        </a>
                    </div>
                    <div>
                        Training Institute is an outstanding HTML template targeting educational institutions,
                        helping them establish strong identity on the internet without any real developing knowledge.
                    </div>
                </div>
                <div class="footer-item col-3 offset-1">
                    <h3 class="footer-text">
                        Find Us
                    </h3>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-compass" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            143 Gordon Terrace BASSINGTHORPE NG33 0ZT United Kingdom
                        </div>
                    </div>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            info@traininginstitute.gov.co
                        </div>
                    </div>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            +1800 326 3264
                        </div>
                    </div>
                </div>
                <div class="footer-item col-3 offset-1">
                    <h3 class="footer-text">
                        Social Media
                    </h3>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            Facebook
                        </div>
                    </div>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            Twitter
                        </div>
                    </div>
                    <div class="footer-info d-flex mb-2">
                        <div class="footer-icon mr-3 d-flex align-items-center">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                        <div class="footer-detail d-flex align-items-center">
                            Linkedin
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-muted container">
        <div class="copyright text-center p-2">
            &copy; 2022 - Symphony - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>
