@model List<Symphony.Areas.Admin.Models.About>
@{
	ViewData["Title"] = "About us";
}


<div class="banner-container py-5">
    <div class="container py-3">
        <div class="banner d-flex justify-content-between">
            <h4 class="banner-left">
                About us
            </h4>
            <div class="banner-right">
                <a class="banner-link mr-3" asp-area="" asp-controller="Home" asp-action="Index">
                    Homepage
                </a>
                >
                <span class="ml-3">About us</span>
            </div>
        </div>
    </div>
</div>
<div class="introduce bg-light pb-5">
    <div class="introduce-container container p-2">
        <div class="course-title">
            <h3 class="text-center">About us</h3>
        </div>
        <div class="row">
            <div class="introduce-thumb col-7">
                <img width="100%" src="~/images/css3.jpg">
            </div>
            <div class="introduce-desc col-5 d-flex flex-column justify-content-center pl-5">
                <h4 class="mb-3 text-dark">Welcome To Our Institute</h4>
                @foreach (var item in Model)
                {
                    <p class="text-dark">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                }
            </div>
        </div>
    </div>
</div>
<div class="bg-light pb-5">

<div class="container">
    <div class="objective mb-5">
        <div class="objective-title mt-0">
            <h3 class="text-center">Our objectives</h3>
        </div>
        <div class="objective-container">
            <div class="objective-item">
                <div class="objective-detail">
                    <div class="objective-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Infrastructure</h3>
                    <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                </div>
            </div>
            <div class="objective-item">
                <div class="objective-detail">
                    <div class="objective-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Career Support</h3>
                    <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                </div>
            </div>
            <div class="objective-item">
                <div class="objective-detail">
                    <div class="objective-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Latest Technology</h3>
                    <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>